@mixin flex-container($flex-direction, $justify-content, $align-items) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin text-property($font-size, $line-height, $font-weight) {
  font-weight: $font-weight;
  line-height:  $line-height;
  font-size: $font-size;
}